apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: k8s-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/gmlwnd3565/k8s-app
    targetRevision: main
    path: manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/gmlwnd3565/k8s-app
    targetRevision: main
    path: manifests/app
  destination:
    server: https://kubernetes.default.svc
    namespace: app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: db
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: mariadb
    targetRevision: 11.5.4
    helm:
      values: |
        architecture: replication
        auth:
          rootPassword: "ntels1234"
          replicationPassword: "ntels1234"
        primary:
          persistence:
            storageClass: local-path
            size: 10Gi
        secondary:
          persistence:
            storageClass: local-path
            size: 10Gi
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: kube-prometheus
    targetRevision: 9.4.1
    helm:
      values: |
        grafana:
          enabled: true
          adminUser: admin
          adminPassword: "ntels1234"
          persistence:
            enabled: true
            storageClassName: local-path
            size: 5Gi
          service:
            type: NodePort
            nodePort: 32000
          datasources:
            datasources.yaml:
              apiVersion: 1
              datasources:
                - name: Prometheus
                  type: prometheus
                  access: proxy
                  url: http://monitoring-kube-prometheus-prometheus:9090
                  isDefault: true
          dashboardsProvider:
            enabled: true
          dashboards:
            default:
              k8s-cluster:
                gnetId: 3119
                revision: 2
                datasource: Prometheus
              node-exporter:
                gnetId: 1860
                revision: 24
                datasource: Prometheus

        prometheus:
          prometheusSpec:
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 20Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
