grafana:
  enabled: true
  adminUser: admin
  adminPassword: "ntels1234"
  persistence:
    enabled: true
    storageClassName: local-path
    size: 5Gi

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

