architecture: replication
auth:
  rootPassword: "REPLACE_ROOT_PASSWORD"
  replicationPassword: "REPLACE_REPL_PASSWORD"
primary:
  persistence:
    storageClass: local-path
    size: 10Gi
secondary:
  persistence:
    storageClass: local-path
    size: 10Gi
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
